<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUKJsxoVj9__ljVBWFnZ9num0KNp7mNnA</string>
	<key>GCM_SENDER_ID</key>
	<string>391164186968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kutuphaneOtomasyon.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kutuphane-otomasyon-8df39</string>
	<key>STORAGE_BUCKET</key>
	<string>kutuphane-otomasyon-8df39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391164186968:ios:074e777c72c583294ad52d</string>
</dict>
</plist>